* { /* 모든 HTML 태그에 적용하는 스타일 */
    
    margin: 0; padding: 0; 
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(25, 28, 36);
    /*background-image: url("background.png");*/
}

.mobile {
    display: none;
}

.background {
    width: 100%;
}
.background img {
    width: 100%;
}


/* 데스크탑 CSS */

/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

.title {
    display: inline-flex;
    position: absolute;
    justify-content: space-around;
    color: aliceblue;
    font-family: 'CookieRun-Regular';
    top: 55px;
    left: 0;
    width: 100%;
    font-size: 18px;
    height: 100px;
    /* background-color: rgb(255, 0, 217); */
}

.company {
    font-size: 16px;
    margin: 55px 40px 40px 70px; /* 위 오른쪽 밑 왼쪽 */
}

.game {
    font-size: 16px;
    margin: 55px 30px 40px 40px;
}

.iogo {
    margin: 0 30px 40px 30px;
}

.character {
    font-size: 16px;
    margin: 55px 70px 40px 30px;
}

.notice {
    font-size: 16px;
    margin: 55px 70px 40px 40px;
}

.title a {
    color: aliceblue;
}
.title a:link {
    text-decoration: none;
}
.title a:hover {
    color: rgb(255, 225, 27);
}

/* -----------------------------------------------------------------------
Information 영역 - sns 링크, 주소, 회사 로고
----------------------------------------------------------------------- */

.infor {
    position: relative;
    left: 0;
    width: 100%;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #191c24;
}

.infor-into {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
}


.sns {
    display: flex;
    margin-bottom: 10px;
}

.youtube {
    margin: 0 30px 40px 30px;
}

.twitter{
    margin: 0 30px 40px 30px;
}

.facebook{
    margin: 0 30px 40px 30px;
}

.cafe{
    margin: 0 30px 40px 30px;
}

.add {
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 10px;
}

.number {
    color: aliceblue;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}

.call {
    margin-right: 10px;
}

.fax {
    margin-left: 10px;
}

.en {
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 10px;
}

.E_comp {
    margin-top: 20px;
}

/* 모바일 CSS */

.m-background img {
    width: 100%;
}


/* 반응형 웹 구현을 위한 미디어 쿼리 */

@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}