* { /* 모든 HTML 태그에 적용하는 스타일 */
    
    margin: 0; padding: 0; 
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #2e2012;
}

.mobile {
    display: none;
}

/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

.header img {
    width: 100%;
}

.title {
    display: inline-flex;
    position: absolute;
    justify-content: space-evenly;
    color: aliceblue;
    font-family: 'CookieRun-Regular';
    top: 8%;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: rgb(255, 0, 217); */
}

.game {
    flex-wrap: nowrap;
    font-size: 15px;
    margin-top: 5%;    
}

.character {
    flex-wrap: nowrap;
    font-size: 15px;
    margin-top: 5%;
}

.iogo {
    flex-wrap: nowrap;
    width: 16%;
    /*margin: 0 30px 40px 30px;*/
}

.notice {
    flex-wrap: nowrap;
    font-size: 15px;
    margin-top: 5%;
}

.company {
    flex-wrap: nowrap;
    font-size: 15px;
    margin-top: 5%;
}

.title a {
    color: aliceblue;
}
.title a:link {
    text-decoration: none;
}
.title a:hover {
    color: rgb(255, 225, 27);
}

/* -----------------------------------------------------------------------
main 영역 - 회사 정보들
----------------------------------------------------------------------- */

.mid {
    position: relative;
    /* top: 285px; */
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.mid-into {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
}

.First{
    color: aliceblue;
    font-size: 1.8em;
    margin-bottom: 60px;
}

.second {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.parent-box {
    position: relative;
    padding: 20px 30px 20 30px;
    border: solid 3px #FFC9A0;
}

.cookie {
    color: #FFC9A0;
    font-size: 2em;
}

.ador {
    color: #FFC9A0;
    font-size: 2em;
}

.adve {
    color: #FFC9A0;
    font-size: 2em;
}

.second2 {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.battle {
    color: #FFC9A0;
    font-size: 2em;
}

.guild {
    color: #FFC9A0;
    font-size: 2em;
}

.third {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.third img {
    width: 60%;
}

/* -----------------------------------------------------------------------
Information 영역 - sns 링크, 주소, 회사 로고
----------------------------------------------------------------------- */

.infor {
    position: relative;
    align-items: center;
    /* top: 100px; */
    left: 0;
    width: 100%;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #191c24;
}

.infor-into {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
}


.sns {
    display: flex;
    margin-bottom: 10px;
}

.youtube {
    margin: 0 30px 40px 30px;
}

.twitter{
    margin: 0 30px 40px 30px;
}

.facebook{
    margin: 0 30px 40px 30px;
}

.cafe{
    margin: 0 30px 40px 30px;
}

.add {
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 10px;
}

.number {
    color: aliceblue;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}

.call {
    margin-right: 10px;
}

.fax {
    margin-left: 10px;
}

.en {
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 10px;
}

.E_comp {
    margin-top: 20px;
}


/* 모바일 CSS */

.m-background img {
    width: 100%;
}


/* 반응형 웹 구현을 위한 미디어 쿼리 */

@media screen and (max-width: 960px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}